<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
<!--
                <property name="url" value="jdbc:mysql://xxx/lexiang?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=false"/>
-->
                <property name="url" value="jdbc:mysql://47.106.250.195:3306/lexiang?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=false"/>
                <property name="username" value="root"/>
<!--
                <property name="password" value="xxxx"/>
-->
                <property name="password" value="J2EaX#a:fCu4"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="com.lexiang.vertx.web.mapper.LexiangProductMapper"/>
        <mapper class="com.lexiang.vertx.web.mapper.PhotosMapper"/>
        <mapper class="com.lexiang.vertx.web.mapper.StaticPagesMapper"/>
        <mapper class="com.lexiang.vertx.web.mapper.NavigatorMapper"/>
        <mapper class="com.lexiang.vertx.web.mapper.SystemSettingMapper"/>
        <mapper class="com.lexiang.vertx.web.mapper.HomePageContentMapper"/>
        <mapper class="com.lexiang.vertx.web.mapper.LunboMapper"/>
        <mapper class="com.lexiang.vertx.web.mapper.TrvalTypeMapper"/>
        <mapper class="com.lexiang.vertx.web.mapper.ReadBeforeTravelMapper"/>
        <mapper class="com.lexiang.vertx.web.mapper.TravelTopoMapper"/>
        <mapper class="com.lexiang.vertx.web.mapper.PriceContainMapper"/>
        <mapper class="com.lexiang.vertx.web.mapper.PriceNotContainMapper"/>
        <mapper class="com.lexiang.vertx.web.mapper.PriceTagMapper"/>
        <mapper class="com.lexiang.vertx.web.mapper.ProductCommentsMapper"/>
        <mapper class="com.lexiang.vertx.web.mapper.ProductDetailMapper"/>
        <mapper class="com.lexiang.vertx.web.mapper.ReadBeforeTravelTagMapper"/>
        <mapper class="com.lexiang.vertx.web.mapper.CustomerStoryMapper"/>
        <mapper class="com.lexiang.vertx.web.mapper.CustomerStoryDetailMapper"/>

    </mappers>
</configuration>