<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lexiang.vertx.web.mapper.ProductCommentsMapper" >
  <resultMap id="BaseResultMap" type="com.lexiang.vertx.web.entity.ProductComments" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="coments_conntent" property="comentsConntent" jdbcType="VARCHAR" />
    <result column="profile_photo" property="profilePhoto" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, coments_conntent, profile_photo, product_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lexiang.vertx.web.entity.ProductCommentsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product_comments
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.lexiang.vertx.web.entity.ProductCommentsKey" >
    select 
    <include refid="Base_Column_List" />
    from product_comments
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.lexiang.vertx.web.entity.ProductCommentsKey" >
    delete from product_comments
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lexiang.vertx.web.entity.ProductCommentsExample" >
    delete from product_comments
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lexiang.vertx.web.entity.ProductComments" useGeneratedKeys="true" keyProperty="id" >
    insert into product_comments (name, coments_conntent, profile_photo, 
      product_id)
    values (#{name,jdbcType=VARCHAR}, #{comentsConntent,jdbcType=VARCHAR}, #{profilePhoto,jdbcType=VARCHAR}, 
      #{productId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lexiang.vertx.web.entity.ProductComments" useGeneratedKeys="true" keyProperty="id" >
    insert into product_comments
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="comentsConntent != null" >
        coments_conntent,
      </if>
      <if test="profilePhoto != null" >
        profile_photo,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="comentsConntent != null" >
        #{comentsConntent,jdbcType=VARCHAR},
      </if>
      <if test="profilePhoto != null" >
        #{profilePhoto,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lexiang.vertx.web.entity.ProductCommentsExample" resultType="java.lang.Integer" >
    select count(*) from product_comments
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update product_comments
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.comentsConntent != null" >
        coments_conntent = #{record.comentsConntent,jdbcType=VARCHAR},
      </if>
      <if test="record.profilePhoto != null" >
        profile_photo = #{record.profilePhoto,jdbcType=VARCHAR},
      </if>
      <if test="record.productId != null" >
        product_id = #{record.productId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update product_comments
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      coments_conntent = #{record.comentsConntent,jdbcType=VARCHAR},
      profile_photo = #{record.profilePhoto,jdbcType=VARCHAR},
      product_id = #{record.productId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lexiang.vertx.web.entity.ProductComments" >
    update product_comments
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="comentsConntent != null" >
        coments_conntent = #{comentsConntent,jdbcType=VARCHAR},
      </if>
      <if test="profilePhoto != null" >
        profile_photo = #{profilePhoto,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lexiang.vertx.web.entity.ProductComments" >
    update product_comments
    set name = #{name,jdbcType=VARCHAR},
      coments_conntent = #{comentsConntent,jdbcType=VARCHAR},
      profile_photo = #{profilePhoto,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>