<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lexiang.vertx.web.mapper.StaticPagesMapper" >
  <resultMap id="BaseResultMap" type="com.lexiang.vertx.web.entity.StaticPages" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="about_us_page" property="aboutUsPage" jdbcType="VARCHAR" />
    <result column="home_page" property="homePage" jdbcType="VARCHAR" />
    <result column="time_stamp" property="timeStamp" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, about_us_page, home_page, time_stamp, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lexiang.vertx.web.entity.StaticPagesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from static_pages
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.lexiang.vertx.web.entity.StaticPagesKey" >
    select 
    <include refid="Base_Column_List" />
    from static_pages
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.lexiang.vertx.web.entity.StaticPagesKey" >
    delete from static_pages
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lexiang.vertx.web.entity.StaticPagesExample" >
    delete from static_pages
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lexiang.vertx.web.entity.StaticPages" useGeneratedKeys="true" keyProperty="id" >
    insert into static_pages (about_us_page, home_page, time_stamp, 
      status)
    values (#{aboutUsPage,jdbcType=VARCHAR}, #{homePage,jdbcType=VARCHAR}, #{timeStamp,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lexiang.vertx.web.entity.StaticPages" useGeneratedKeys="true" keyProperty="id" >
    insert into static_pages
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aboutUsPage != null" >
        about_us_page,
      </if>
      <if test="homePage != null" >
        home_page,
      </if>
      <if test="timeStamp != null" >
        time_stamp,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aboutUsPage != null" >
        #{aboutUsPage,jdbcType=VARCHAR},
      </if>
      <if test="homePage != null" >
        #{homePage,jdbcType=VARCHAR},
      </if>
      <if test="timeStamp != null" >
        #{timeStamp,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lexiang.vertx.web.entity.StaticPagesExample" resultType="java.lang.Integer" >
    select count(*) from static_pages
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update static_pages
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.aboutUsPage != null" >
        about_us_page = #{record.aboutUsPage,jdbcType=VARCHAR},
      </if>
      <if test="record.homePage != null" >
        home_page = #{record.homePage,jdbcType=VARCHAR},
      </if>
      <if test="record.timeStamp != null" >
        time_stamp = #{record.timeStamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update static_pages
    set id = #{record.id,jdbcType=INTEGER},
      about_us_page = #{record.aboutUsPage,jdbcType=VARCHAR},
      home_page = #{record.homePage,jdbcType=VARCHAR},
      time_stamp = #{record.timeStamp,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lexiang.vertx.web.entity.StaticPages" >
    update static_pages
    <set >
      <if test="aboutUsPage != null" >
        about_us_page = #{aboutUsPage,jdbcType=VARCHAR},
      </if>
      <if test="homePage != null" >
        home_page = #{homePage,jdbcType=VARCHAR},
      </if>
      <if test="timeStamp != null" >
        time_stamp = #{timeStamp,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lexiang.vertx.web.entity.StaticPages" >
    update static_pages
    set about_us_page = #{aboutUsPage,jdbcType=VARCHAR},
      home_page = #{homePage,jdbcType=VARCHAR},
      time_stamp = #{timeStamp,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>